<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scannerlibrary">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <!-- Si necesitas declarar actividades u otros componentes, lo haces aquí -->
    </application>

</manifest>